.html,body{
    --color_brown: #89756A;
    --color_rose: #E6BCB5;
    --color_font: #423731;
    --color_milktea: #edd7c9;
    font-family:'Noto Sans TC', sans-serif;
    scroll-behavior: smooth;
    background: url(../HomePage_Photo/background2.png),rgba(246,233,230,0.5)
}

.no-scroll {
    overflow: hidden;
}

.hometitle{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0px;
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 1s;
}

.not_top{
    background-color: #ffff;
    transition: 1s;
}

.logo{
    display: block;  
}
.logo_photo{
    margin-left: 20px;
    width: 120px;
    height: 50px;
}
.logo_a{
    text-decoration: none;
}
#menu{
    display: none;
}
.hbtn{
    width: 40px;
    height: 40px;
    background-color: #E6BCB5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}

@media (width>=768px) {
    .hbtn{
        display: none;
    }
    
}
.hbtn span{
    width: 80%;
    height: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition-duration: 0.5s;
}


.function{
    margin-top: 15px;
}
@media (width<768px) {
    .function {
    display: none;
    width: 100%;
    background-color: #EDD6C9;
    } 
    
}
.member{
    border:2px solid #B69D8F;
    border-radius: 20px;

}
.member:hover{
    /* border:2px solid #ffff; */
    color:#ffff;
    background-color: #B69D8F;
}
.fa-solid::before{
    color:#B69D8F;
    font-size: 20px;
}
.member:hover .fa-solid::before{
    color: #ffff;
}


.mem_p{
    display: inline-block;
    /* margin-left: 20px; */
    /* margin-right: -5px; */
}
.mem_p2{
    display: inline-block;
    /* margin-left: 25px; */
}


.function a{
    text-decoration: none;
    color:#89756A;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 5px 8px;
    margin: 0px 10px 0px 0px;
}
.function .ft_t:hover{
    color: var(--color_rose);
    font-weight: 500;
}
@media (width<768px) {
    .function a{
        display: block;
        padding: 8px;
    }
    .member{
        border:none;
        border-radius: 0px;
    }
    #menu:checked ~ .hometitle .function{
        display: block;
    }
    #menu:checked ~ .hometitle .hbtn{
        background-color: var(--color_brown);
    }
    #menu:checked ~ .hometitle .hbtn span:first-child{
        width: 100%;
        transform: translateX(0%) translateY(250%)rotate(45deg);
    }
    #menu:checked ~ .hometitle .hbtn span:last-child{
        width: 100%;
        transform: translateX(0%) translateY(-250%)rotate(-45deg);
    }
    .function a + a{
    border-top: 1px solid #fff;
    }
}

#mm{
    width: 600px;
    height: 400px;
    /* aspect-ratio: 600/400; */
    background-color:rgba(255, 255, 255,0.9);
    border-radius: 12px;
    position: absolute;
    left: 50%;
    top: 20%;
    text-align: center;
    display: none;
    z-index: 2;
    transform: translateX(-50%);
    display: none;
    @media (max-width: 768px) {
        width: 90%; /* 或者根據需要調整百分比 */
        height: 45%;
        aspect-ratio: 3/2; /* 保持 2:3 的長寬比例，可以根據需要調整 */
    }
}
.member_title{
    font-size: 30px;
    color: var(--color_font);
    text-align: center;
    letter-spacing: 2px;
    margin-top: 30px;
}
.member_login{
    display: inline-block;
    margin: 10px auto;
    font-size: 16px;
}

#account{
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid var(--color_brown);
    border-radius: 5px;
    height: 20px;
}
#number{
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid var(--color_brown);
    border-radius: 5px;
    height: 20px;
}
.btn_f{
    margin-top: 20px;
    margin-right: 5px;
    background-color: #3B579D;
    border: none;
    color: #ffff;
    font-size: 16px;
    width: 180px;
    height: 50px;
    border-radius: 5px;
}

.btn_l{
    margin-top: 20px;
    margin-left: 5px;
    background-color: #06C755;
    border: none;
    color: #ffff;
    font-size: 16px;
    width: 180px;
    height: 50px;
    border-radius: 5px;
}
@media (width<768px) {
    .btn_f{
        margin-right: 0;
    }
    .btn_l{
        margin-left: 0;
    }
    
}
.btn_icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align:middle;
}
.submit_btn{
    margin-top: 20px;
    font-size: 16px;
    border-style: none;
    border-radius: 20px;
    border:1.5px solid var(--color_brown);
    width: 120px;
    height: 35px;
    background-color: #0000;

}
.btn_log{
    margin-top: 20px;
    font-size: 16px;
    border-style: none;
    border-radius: 20px;
    border:1.5px solid var(--color_brown);
    width: 120px;
    height: 35px;
    background-color: #0000;
}


.product_information{
    margin-top: 130px;
    color: var(--color_font);
    position: relative;
}
.product_card{
    margin-top: 10px;
    margin-bottom: 30px;
    /* padding-left: 10%; */
}
.product_photo{
    width: 350px;
    height: 250px;
    object-fit: cover;
    object-position: center 70%;
    border-radius: 0px 0px 80px 0px;
    margin-left: 10%;
    
}
@media (width<768px) {
    .product_photo{
        width: 300px;
        height: 200px;
    }
    .pd_p{
        width: 100%;
    }
    /* .in_cart{
        left: 10px;
        top: 10px;
        
    } */
}

.product_name{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 50px;
    margin-left: 50px;
}
.minus{
    width: 30px;
    height: 30px;
    border: 1px solid var(--color_brown);
    border-radius: 50%;
    /* text-align: center; */
}
.plus{
    width: 30px;
    height: 30px;
    border: 1px solid var(--color_brown);
    border-radius: 50%;
    /* text-align: center; */
}
.num{
    display: inline-block;
}

.btn_a{
    margin-top: 30px;
    margin-left: 50px;
    
}
.btn_cart{
    text-decoration: none;
    justify-content: center;
    display: inline-block;
    text-align: center;
    background-color: #0000;
    border:1.5px solid var(--color_brown);
    border-radius: 6px;
    padding: 8px 8px;
    margin-right: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--color_brown);
    width: 120px;
    cursor: pointer;
}

.btn_icon{
    width: 16px;
    height: 16px;
    /* vertical-align:middle; */
}
.line{
    border: 1px solid var(--color_brown);
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 6%;
}

.cart{
    width: 0;
    height: 0; 
}
.in_cart{
    width: 300px;
    height: 200px;
    /* aspect-ratio: 600/200; */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    flex-direction: column;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    display: none;
    @media (max-width: 768px) {
        width: 80%; /* 或者根據需要調整百分比 */
        aspect-ratio: 2/3; /* 保持 2:3 的長寬比例，可以根據需要調整 */
    }
}

#tick{
    margin-top: 50px;
    font-size: 40px;
    color: var(--color_brown);
    display: flex;
    justify-content: center;
}
.in_cart_p{
    margin-top: 20px;
    display: inline-block;
    font-size: 18px;
    color: var(--color_brown);
    display: flex;
    justify-content: center;
}

.product_introduce{
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pd_p{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 30px;
    width: 350px;
    margin-left: 10%;
}



.homefoot{
    font-size: 16px;
    color: var(--color_font);
    width: 100%;
    background-color: var(--color_rose);
}
.foot_function{
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: left;
}
.foot_btn{
    text-decoration: none;
    color: var(--color_font);
    margin: 0px 3px;
    /* padding-right: 12px; */
    /* border: 1px solid black; */
} 
.foot_btn:hover{
    color: var(--color_milktea);
    font-weight: 600;
}   

.foot_information{
    line-height: 35px;
    text-align: left;
}
.foot_icon{
    margin-top: 10px; 
    text-align: right;
    
}
@media (width<768px) {
    .foot_icon{
        text-align: left;
        margin-bottom: 30px;
    }
    .copyright{
        margin-left: 65px;
        width: 290px;
    }
}

.ft_ic{
    padding-right: 15px;
    text-decoration: none;
}
.ft_pt{
    width: 25px;
    height: 25px;
}
#ft_r{
    margin-left: 30px;
}
/* #ln{
    font-size: 22px;
} */

/* .fa-brands{
    font-size: 25px;
    color: #000000;
} */


.logo_icon{
    text-align: right;
    margin-top: 30px;
    margin-bottom: -50px;
}
@media (width<768px) {
    .logo_icon{
        text-align: left;
    }
    
}
.logo_ic{
    width: 100px;
    height: 100px;
}
.cr_p{
    margin-top: -30px;
}
.copyright{
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}