.html,body{
    --color_brown: #89756A;
    --color_rose: #E6BCB5;
    --color_font: #423731;
    --color_milktea: #EDD6C9;
    font-family:'Noto Sans TC', sans-serif;
    scroll-behavior: smooth;
    background: url(../HomePage_Photo/background2.png),rgba(246,233,230,0.5)
}

.no-scroll {
    overflow: hidden;
}

.hometitle{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0px;
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 1s;
}

.not_top{
    background-color: #ffff;
    transition: 1s;
}

.logo{
    display: block;  
}
.logo_photo{
    margin-left: 20px;
    width: 120px;
    height: 50px;
}
.logo_a{
    text-decoration: none;
}
#menu{
    display: none;
}
.hbtn{
    width: 40px;
    height: 40px;
    background-color: #E6BCB5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}

@media (width>=768px) {
    .hbtn{
        display: none;
    }
    
}
.hbtn span{
    width: 80%;
    height: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition-duration: 0.5s;
}


.function{
    margin-top: 15px;
}
@media (width<768px) {
    .function {
    display: none;
    width: 100%;
    background-color: #EDD6C9;
    } 
    
}
.member{
    border:2px solid #B69D8F;
    border-radius: 20px;

}
.member:hover{
    /* border:2px solid #ffff; */
    color:#ffff;
    background-color: #B69D8F;
}
.fa-solid::before{
    color:#B69D8F;
    font-size: 20px;
}
.member:hover .fa-solid::before{
    color: #ffff;
}


.mem_p{
    display: inline-block;
    /* margin-left: 20px; */
    /* margin-right: -5px; */
}
.mem_p2{
    display: inline-block;
    /* margin-left: 25px; */
}


.function a{
    text-decoration: none;
    color:#89756A;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 5px 8px;
    margin: 0px 10px 0px 0px;
}
.function .ft_t:hover{
    color: var(--color_rose);
    font-weight: 500;
}
@media (width<768px) {
    .function a{
        display: block;
        padding: 8px;
    }
    .member{
        border:none;
        border-radius: 0px;
    }
    #menu:checked ~ .hometitle .function{
        display: block;
    }
    #menu:checked ~ .hometitle .hbtn{
        background-color: var(--color_brown);
    }
    #menu:checked ~ .hometitle .hbtn span:first-child{
        width: 100%;
        transform: translateX(0%) translateY(250%)rotate(45deg);
    }
    #menu:checked ~ .hometitle .hbtn span:last-child{
        width: 100%;
        transform: translateX(0%) translateY(-250%)rotate(-45deg);
    }
    .function a + a{
    border-top: 1px solid #fff;
    }
}

#mm{
    width: 600px;
    height: 400px;
    /* aspect-ratio: 600/400; */
    background-color:rgba(255,255,255,0.9);
    border-radius: 12px;
    position: absolute;
    left: 50%;
    top: 20%;
    text-align: center;
    display: none;
    z-index: 2;
    transform: translateX(-50%);
    display: none;
    @media (max-width: 768px) {
        width: 90%; 
        height: 45%;
        aspect-ratio: 3/2;
    }
}
.member_title{
    font-size: 30px;
    color: var(--color_font);
    text-align: center;
    letter-spacing: 2px;
    margin-top: 30px;
}
.member_login{
    display: inline-block;
    margin: 10px auto;
    font-size: 16px;
}

#account{
    margin-top: 20px;
    margin-left: 10px;
}
#number{
    margin-top: 20px;
    margin-left: 10px;
}
.btn_f{
    margin-top: 20px;
    margin-right: 5px;
    background-color: #3B579D;
    border: none;
    color: #ffff;
    font-size: 16px;
    width: 180px;
    height: 50px;
    border-radius: 5px;
}

.btn_l{
    margin-top: 20px;
    margin-left: 5px;
    background-color: #06C755;
    border: none;
    color: #ffff;
    font-size: 16px;
    width: 180px;
    height: 50px;
    border-radius: 5px;
}
@media (width<768px) {
    .btn_f{
        margin-right: 0;
    }
    .btn_l{
        margin-left: 0;
    }
    
}
.btn_icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align:middle;
}
.submit_btn{
    margin-top: 20px;
    font-size: 16px;
    border-style: none;
    border-radius: 20px;
    border:1.5px solid var(--color_brown);
    width: 120px;
    height: 35px;
    background-color: #0000;

}
.btn_log{
    margin-top: 20px;
    font-size: 16px;
    border-style: none;
    border-radius: 20px;
    border:1.5px solid var(--color_brown);
    width: 120px;
    height: 35px;
    background-color: #0000;
}

.product{
    margin-top: 130px;
    position: relative;
    color: var(--color_font);
}
.product_introduce{
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}
#r{
    margin: 30px;
    text-align: center;
}
#product_card{
    margin-top: 50px;
    z-index: 2;
    /* border: 1px solid red; */
}
#product_card2{
    height: 150px;
}
#product_card3{
    height: 80px;
}

@media (width < 768px) {
    #product_card2{
        height: 0px;
    }
    #product_card3{
        height: 0px;
    }
    /* .product_photo{
        
    } */
    /* .product_t{
        
    } */
}
.product_a{
    text-decoration: none;
    color: var(--color_font);
}
.product_t{
    overflow: hidden;
    border-radius: 0px 0px 80px 0px;
}
.product_photo{
    width: 440px;
    height: 260px;
    object-fit: cover; 
    object-position: center 70%; 
    border-radius: 0px 0px 80px 0px;
}
.product_photo{transform:scale(1,1);transition: all 1s ease-out;}
.product_photo:hover{transform:scale(1.1,1.1);}

.product_name{
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.pdbtn{
    justify-content: center;
    background-color: #0000;
    border: 1.5px solid var(--color_brown);
    border-radius: 6px;
    padding: 5px 10px;
    color: var(--color_font); 
    font-size: 16px;
}
/* .shopbag2{
    text-decoration: none;
    color: var(--color_font);
    font-size: 16px;
} */
.sbicon{
    width: 16px;
    height: 16px;
}

.circle1{
    width: 300px;
    height: 300px;
    border: 3px solid var(--color_rose);
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 20%;
    z-index: -1;
    animation: up 1s alternate infinite;
    
}

@keyframes up{
    0%{top: 20px;}
    50%{bottom: 50px;}
    100%{top: 30px;}
}
@keyframes down{
    0%{bottom: 30px;}
    50%{bottom: 40px;}
    100%{bottom: 20px;}
}
.circle2{
    width: 500px;
    height: 500px;
    border: 3px solid var(--color_rose);
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    left: 15%;
    z-index: -1;
    animation: down 2s alternate infinite;
}
@media (width <= 768px) {
    .circle1{
        display: none;
    }
    .circle2{
        display: none;
    }
}


.homefoot{
    font-size: 16px;
    color: var(--color_font);
    width: 100%;
    background-color: var(--color_rose);
}
.foot_function{
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: left;
    
}
.foot_btn{
    text-decoration: none;
    color: var(--color_font);
    margin: 0px 3px;
    
} 
.foot_btn:hover{
    color: #ffff;
    font-weight: 500;
}   

.foot_information{
    line-height: 35px;
    text-align: left;
}
.foot_icon{
    margin-top: 10px; 
    text-align: right;
}
@media (width<768px) {
    .foot_icon{
        text-align: left;
        margin-bottom: 30px;
    }
    .copyright{
        margin-left: 65px;
        width: 290px;
    }
}

.ft_ic{
    padding-right: 15px;
    text-decoration: none;
}
.ft_pt{
    width: 25px;
    height: 25px;
}
#ft_r{
    margin-left: 15px;
}

.cr_p{
    margin-top: -30px;
}
.copyright{
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    /* border: 1px solid black; */
}